#biggest-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:"header header header header header"
                        "nav nav nav nav nav"
                        "main main main aside aside"
                        "footer footer footer footer footer";

}
header{
    background: linear-gradient(
        to right in oklab,
        #1a3a7c 0%,
        #8ec5ff 100%
       
    );
    width: 100%;
    
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header img{
    height: 135px;
    width: 135px;
}
nav {
    font-size: 200px;
    color: black;
    grid-area: nav;
    background-color: green;
}
main{
    font-size: 200px;
    color: black;
    grid-area: main;
    background-color: yellow;
}
aside{
    font-size: 200px;
    color: black;
    grid-area: aside;
    background-color: blueviolet;
}
footer {
    font-size: 200px;
    color: black;
    grid-area: footer;
    background-color: brown;
}
#focim{
    margin-top: 100px;
    margin-left: 50px;
    width: 40%;
    height: auto;
    text-align: justify;
}
#main_kepek{
   width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
#sor1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    

}
#sor2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    
    

}
#sor1 div{
    background-color: black;
    width: 100px;
    height: 100px;
    
}
#sor2 div{
    background-color: black;
    width: 100px;
    height: 100px;
}